global:
  scrape_interval: 10s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: otel-collector-internal
    static_configs:
      - targets: ["otel-collector:8888"]

  - job_name: otel-collector-otlp
    static_configs:
      - targets: ["otel-collector:8889"]
